/* 
   General Styling
 */

body {
    font-family: "Segoe UI", Arial, sans-serif;
     font-size: 1rem;
    margin: 0;
    padding: 0;
    background-color: #fff5f9;
    color: #333;
    line-height: 1.6;
}

/* 
   Header
 */

header {
    background-color: #ffb6c1;
    color: white;
    text-align: center;
    padding: 2rem;
    min-height: 100px;
}

h1 {
    font-size: 2rem;
    text-transform: capitalize;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

h2 {
    color: #d63384;
    margin-top: 2rem;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

/* 
   Navigation Styling
 */

nav {
    background-color: #ffc0cb;
    padding: 1rem;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #8b004f;
    margin: 0 1rem;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

header a {
    color: white;
}

/*
   Sections & Layout (Box Model)
 */

section, article {
    background-color: white;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 12px;
    border: 1px solid #f8cdd6;
    width: 80%;
    max-width: 900px;
}

/* 
   Lists Styling
 */

ul {
    list-style-type: circle;
    list-style-position: inside;
}

ol {
    list-style-type: upper-roman;
    list-style-position: inside;
}

dl {
    margin-top: 1rem;
}

/* 
   Forms
 */

input, textarea {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    border: 1px solid #ffc0cb;
    border-radius: 6px;
}

input[type="submit"] {
    background-color: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #d63384;
}

/* 
   Images
 */

img {
    border-radius: 10px;
    margin-top: 1rem;
}

/* 
   Footer
 */

footer {
    background-color: #ffb6c1;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

/* 
   Responsive Units
*/

@media (max-width: 768px) {
    section, article {
        width: 95%;
        padding: 1rem;
    }
}


/* 
   Class Example 
 */

.highlight {
    background-color: #ffe4ec;
    padding: 0.5rem;
    border-radius: 5px;
}


/* 
   ID Example 
 */

#intro {
    border-left: 5px solid #ff69b4;
    padding-left: 1rem;
}


